# =========================
# Build
# =========================
build/
*.o
*.obj
*.a
*.so
*.exe
*.out

# =========================
# CUDA artifacts
# =========================
*.cubin
*.ptx
*.fatbin
*.cu.o

# =========================
# Simulation outputs
# =========================
runs/
*.vtk
*.vti
*.vtp
*.dat
*.csv
*.bin
*.log

# =========================
# Python (visualização futura)
# =========================
__pycache__/
*.pyc
.venv/
venv/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Linux / WSL
# =========================
*~
*.swp
.DS_Store